.confirm_order_div {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(8px); 
    z-index: 9999; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
  }

  .confirm_order_div2{
    background-color: rgb(211, 211, 211);
    color: black;
    width: 25%;
    height: 300px;
    display: grid;
    grid-template-columns: 100% ;
    border-radius: 10px;

  }
  

  .close_btn_div{
    display: flex;
    justify-content: flex-end;
    height: 50px;
  }

  .close_btn{
    background-color: white;
    color: black;
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .close_btn:hover{
    background-color: black;
    color: white;
  }


  .order_confirm_text{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
    font-size: 20px;
    font-weight: 500;
  }

  .continue_shopping_div{
    display: flex;
    justify-content: center;
    height: 50%;
  }

  .continue_shopping_btn{
    background-color: white;
    color: black;
    padding: 5px 15px;
    margin: 0 auto;
    border-radius: 15px;
    font-weight: 500 ;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .continue_shopping_btn:hover{
    background-color: rgb(0, 0, 0);
    color: white;
  }